/* this file is processed with xxd via a build rule and embedded in library */

/* these styles come from Safari */

/* note that comments are only permitted before selectors and before the styles */

/* DO NOT fiddle with this file if you want to have your own styles,
 pass your own stylesheet via the option parameter to override these defaults */

html
{
	/* bla */
	display:block;
}

head
{
	display:none;
}

title
{
	display:none;
}

style
{
	display:none;
}

body
{
	display:block;
	color: #4B4B4B;
	line-height: 1.42857142857143;
}

/* Header styles */
h1,h2,h3,h4,h5 {
	color: #262626;
}
h1 {
	display: block;
	font-size:1.8em;
	font-weight: bold;
	line-height: 1.25;
	margin: 30px 0 10px 0;
}

h2
{
	display:block;
	font-size:1.6em;
	font-weight: bold;
	line-height: 1.5;
	margin: 30px 0 10px 0;
}

h3
{
	display:block;
	font-size:1.4em;
	font-weight: bold;
	line-height: 1.5;
	margin: 30px 0 10px 0;
}

h4
{
	display:block;
	font-size:1.1em;
	line-height: 1.25;
	margin: 20px 0 10px 0;
	font-weight: bold;
}

h5
{
	display:block;
	font-size:1em;
	line-height: 1.42857143;
	margin: 20px 0 10px 0;
	font-weight: bold;
}

h6
{
	display:block;
	color: #707070;
	line-height: 1.66666667;
	font-size:.85714em;
	margin: 20px 0 10px 0;
	font-weight:bold;
	text-transform: uppercase;
}

/* TODO: Heading 6 uppercase */

/* End header styles */


/* Text styles: bold, italic, underline, strike through, subscript, superscript, citation */

strong,b
{
	font-weight:bolder;
}

i,em
{
	font-style:italic;
}

u,ins
{
	text-decoration:underline;
}

big
{
	font-size:bigger;
}

small
{
	font-size:smaller;
}

sub
{
	font-size:smaller;
	vertical-align:sub;
}

sup
{
	font-size:smaller;
	vertical-align:super;
}

s,strike,del
{
	text-decoration:line-through;
}

cite:before {
	content:"\2014 \2009";
}

/* End text styles */

/* Link styles */
a
{
	color:#3b73af;
	text-decoration:none;
}

a:active {
	color:#3b73af;
}  /* link while finger down */

/* End link styles */


/******* Begin List styles ********/


ul,menu,dir
{
	display:block;
	list-style-type:disc;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:27px;
}

li
{
	display:list-item;
}

ol
{
	display:block;
	list-style-type:decimal;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:27px;
}

/* TODO: change to #C6C6C6 */

/******* End List styles ********/



/******* Begin Image styles ********/

img.emoticon {
	width: 16px;
	height: 16px;
}

/******* End Image styles ********/


/******* Begin <#name#> styles ********/




/******* End <#name#> styles ********/

article,aside,footer,header,hgroup,nav,section
{
	display:block;
}

p
{
	display:block;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
}

code
{
	font-family:Courier;
}


center
{
	text-align:center;
	display:block;
}

pre,xmp,plaintext,listing
{
	display:block;
}

div {
	display: block;
	margin: 0;
}

link {
	display: none;
}

meta {
	display: none;
}

script {
	display: none;
}

hr {
	display: block;
	color: #D2D2D2;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
	border-width: 1px;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

blockquote {
	display: block;
	border-color: #D2D2D2;
	border-width-left: 1px;
	color: #707070;
	-webkit-margin-before:0px;
	-webkit-margin-after:10px;
	-webkit-margin-start:19px;
	-webkit-margin-end:0;
	padding: 10px 0px 10px 20px;
}

.user-mention {
	color: #3177c8;
	font-weight: bold;
}

.user-mention:before {
	content: "@"
}

tt {
	display: inline;
	background: #FAFAFA;
	border-color: #D2D2D2;
	border-radius: 2px;
	border-width: 1px;
	padding: 1px 3px;
}

.panel {
	margin: 9px 0;
	border-color: #D2D2D2;
	border-width: 1px;
	border-radius: 2px;
}

.panelContent {
	padding:9px 12px;
	margin-top: 0px;
}

.preformatted, .code {
	display: block;
	background: #FAFAFA;
	border-color: #D2D2D2;
	border-width: 1px;
	border-radius: 2px;
	font-size: 0.8em;
	line-height: 1.3333;
	font-family: monospace;
}

.panelHeader {
	border-color: #D2D2D2;
	border-width-bottom: 1px;
	border-radius: 2px;
	padding: 9px 12px;
}

.image-wrap {
	border-radius: 2px;
}

/* change color for list number start */
/* image-wrap have round coner 5px, shadow */